Repository fandresh7/angular-forms: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refactor: migrate form controls to use signals and remove RxJS subscriptions
  src/app/controls/array-field/array-field.component.ts
  src/app/controls/autocomplete-field/autocomplete-field.component.ts
  src/app/controls/base-input/base-input.component.ts
  src/app/controls/checkbox-group-field/checkbox-group-field.component.html
  src/app/controls/group-field/group-field.component.ts
  src/app/controls/radio-field/radio-field.component.html
  src/app/controls/select-field/select-field.component.html
Due: eslint --fix, prettier --write

refactor: migrate activate control directive from RxJS to signals
  src/app/directives/activate-control.directive.ts
Due: eslint --fix, prettier --write

refactor: replace any types with specific type definitions in form controls
  src/app/components/error-message/error-message.component.ts
  src/app/components/fields/fields.component.ts
  src/app/controls/array-field/array-field.component.ts
  src/app/controls/autocomplete-field/autocomplete-field.component.ts
  src/app/controls/chips-list-field/chips-list-field.component.ts
  src/app/controls/group-field/group-field.component.html
  src/app/controls/group-field/group-field.component.ts
  src/app/controls/input-field/input-field.component.html
  src/app/controls/input-field/input-field.component.ts
  src/app/controls/multi-select-dropdown/multi-select-dropdown.component.ts
  src/app/interfaces/forms.interfaces.ts
  src/app/pipes/control-injector.pipe.ts
  src/app/utils/control-data.token.ts
  src/app/utils/validation-error-messages.token.ts
Due: eslint --fix, prettier --write

fix: update array field tracking to use group object instead of index
  src/app/controls/array-field/array-field.component.html
Due: eslint --fix, prettier --write

feat: add loading state handling for autocomplete field during options fetch
  src/app/controls/autocomplete-field/autocomplete-field.component.ts
Due: eslint --fix, prettier --write

feat: add help text styling and example control with help text
  src/app/data/example.ts
  src/styles.css
Due: eslint --fix, prettier --write

docs: add comprehensive documentation with features, examples and API reference
  README.md
Due: prettier --write

chore: migrate from .eslintignore to eslint.config.js and disable no-call-expression rule
  .eslintignore
  eslint.config.js
Due: none

feat: add tailwind and styling configuration with component-level CSS classes
  .postcssrc.json
  package-lock.json
  package.json
  src/app/app.component.html
  src/app/app.component.ts
  src/app/components/error-message/error-message.component.ts
  src/app/components/fields/fields.component.ts
  src/app/components/help-text/help-text.component.ts
  src/app/controls/array-field/array-field.component.html
  src/app/controls/array-field/array-field.component.ts
  src/app/controls/autocomplete-field/autocomplete-field.component.html
  src/app/controls/base-input/base-input.component.ts
  src/app/controls/checkbox-group-field/checkbox-group-field.component.html
  src/app/controls/chips-list-field/chips-list-field.component.html
  src/app/controls/input-field/input-field.component.html
  src/app/controls/multi-select-dropdown/multi-select-dropdown.component.css
  src/app/controls/multi-select-dropdown/multi-select-dropdown.component.html
  src/app/controls/multi-select-dropdown/multi-select-dropdown.component.ts
  src/app/controls/radio-field/radio-field.component.html
  src/app/controls/select-field/select-field.component.html
  src/app/data/example.ts
  src/app/data/settings.ts
  src/app/interfaces/settings.interfaces.ts
  src/app/utils/add-remove-buttons.token.ts
  src/app/utils/settings.token.ts
  src/styles.css
Due: eslint --fix, prettier --write

docs: update styling system from CSS variables to settings-based configuration
  README.md
Due: prettier --write

feat: add configurable CSS classes for form controls styling
  src/app/controls/array-field/array-field.component.html
  src/app/controls/autocomplete-field/autocomplete-field.component.html
  src/app/controls/checkbox-field/checkbox-field.component.html
  src/app/controls/checkbox-group-field/checkbox-group-field.component.html
  src/app/controls/chips-list-field/chips-list-field.component.html
  src/app/controls/group-field/group-field.component.html
  src/app/controls/input-field/input-field.component.html
  src/app/controls/multi-select-dropdown/multi-select-dropdown.component.html
  src/app/controls/radio-field/radio-field.component.html
  src/app/controls/select-field/select-field.component.html
  src/app/data/example.ts
  src/app/data/settings.ts
  src/app/interfaces/settings.interfaces.ts
Due: eslint --fix, prettier --write

style: update form component styles with modern design and improved visual hierarchy
  src/app/data/settings.ts
Due: eslint --fix, prettier --write

feat: add styling classes for array item containers in form controls
  src/app/controls/array-field/array-field.component.html
  src/app/data/settings.ts
  src/app/interfaces/settings.interfaces.ts
Due: eslint --fix, prettier --write

feat: add requiredTrue validator to completion checkbox
  src/app/data/example.ts
  src/app/data/settings.ts
Due: eslint --fix, prettier --write

feat: add password visibility toggle with eye icon to input field component
  src/app/controls/input-field/input-field.component.html
  src/app/controls/input-field/input-field.component.ts
  src/app/data/example.ts
  src/app/data/settings.ts
  src/app/interfaces/settings.interfaces.ts
Due: eslint --fix, prettier --write

chore: bump Angular dependencies from 20.3.3 to 20.3.4/20.3.5
  package-lock.json
  package.json
Due: prettier --write

chore: bump @angular/cdk from 20.2.7 to 20.2.8
  package-lock.json
  package.json
Due: prettier --write

chore: upgrade angular-eslint from 20.3.0 to 20.4.0
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: (any of: *.ts) or (any of: *.html)
  prettier --write: ((any of: *.ts) or (any of: *.html)) or (any of: *.{json,css,scss,md})
